.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

.search-input {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.search-button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.search-button:hover {
  background-color: #0056b3;
}

.clear-button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #dc3545; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.clear-button:hover {
  background-color: #c82333; 
}
