.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 150, 150);
    height: 4em;
    text-align: center;
}

.header-link {
    text-decoration: none; 
    color: inherit; 
  }
  
  .header-link h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .header-link:hover {
    color: inherit; 
  }